<app-layout>
    <div class='card' *ngIf="resource">
        <form #form autocomplete='off'>
            <div class='p-fluid grid'>
                <div class='field col-12 col-md-4 my-5'>
                    <span class='p-float-label'>
                        <input type='text' id='id' [readOnly]='true' name='id' pInputText [(ngModel)]='resource.id'
                               #id='ngModel'>
                        <label for='id'>ID</label>
                    </span>
                </div>
                <div class='field col-12 col-md-4 my-5'>
                    <span class='p-float-label'>
                        <input type='text' id='name' autocomplete='false' name='name' pInputText
                               [(ngModel)]='resource.name' required
                               minlength='4' #name='ngModel' maxlength='255'>
                        <label for='name'>Name</label>
                    </span>
                    <div *ngIf='name.invalid && (name.dirty || name.touched)'
                         class='alert'>
                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="name.errors?.['maxlength']">
                            Name must be shorter than 250 characters.
                        </div>
                    </div>
                </div>
                <div class='field col-12 my-5'>
                    <span>
                        <label for='description'>Description</label>
                        <p-editor id='description' name='description' [(ngModel)]="resource.description" required #description='ngModel' [style]="{'height':'320px'}"></p-editor>
                    </span>
                    <div *ngIf='description.invalid && (description.dirty || description.touched)'
                         class='alert'>
                        <div *ngIf="description.errors?.['required']">
                            Description is required.
                        </div>
                        <div *ngIf="description.errors?.['minlength']">
                            Description must be at least 4 characters long.
                        </div>
                        <div *ngIf="description.errors?.['maxlength']">
                            Description must be shorter than 250 characters.
                        </div>
                    </div>
                </div>
                <div class='field col-12 col-md-4 my-5'>
                    <span>
                        <p-selectButton name='rule-type' [options]='ruleTypes' [(ngModel)]='genericRule' optionLabel="label" optionValue="value"></p-selectButton>
                    </span>
                </div>
                <ng-container *ngIf='!genericRule'>
                    <div class='field col-12 col-md-6 my-5'>
                        <span>
                            <p-calendar name='on' [(ngModel)]="definition.on" [inline]="true" [firstDayOfWeek]='1'></p-calendar>
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngIf='genericRule'>
                    <div class='field col-12 my-5'>
                        <span>
                            <p-toggleButton [style]='{display: "inline"}' name='mon' onLabel='Mon' offLabel='Mon' [(ngModel)]='definition.onDays.mon'></p-toggleButton>
                            <p-toggleButton [style]='{display: "inline"}' name='tue' onLabel='Tue' offLabel='Tue' [(ngModel)]='definition.onDays.tue'></p-toggleButton>
                            <p-toggleButton [style]='{display: "inline"}' name='wed' onLabel='Wed' offLabel='Wed' [(ngModel)]='definition.onDays.wed'></p-toggleButton>
                            <p-toggleButton [style]='{display: "inline"}' name='thu' onLabel='Thu' offLabel='Thu' [(ngModel)]='definition.onDays.thu'></p-toggleButton>
                            <p-toggleButton [style]='{display: "inline"}' name='fri' onLabel='Fri' offLabel='Fri' [(ngModel)]='definition.onDays.fri'></p-toggleButton>
                            <p-toggleButton [style]='{display: "inline"}' name='sat' onLabel='Sat' offLabel='Sat' [(ngModel)]='definition.onDays.sat'></p-toggleButton>
                            <p-toggleButton [style]='{display: "inline"}' name='sun' onLabel='Sun' offLabel='Sun' [(ngModel)]='definition.onDays.sun'></p-toggleButton>
                        </span>
                    </div>
                </ng-container>
                <div class='field col-12 col-md-4 my-5'>
                    <span class='p-float-label'>
                        <p-calendar id='from-time' name='from-time' [(ngModel)]='definition.from' [timeOnly]='true' hourFormat='24'></p-calendar>
                        <label for='from-time'>From</label>
                    </span>
                </div>
                <div class='field col-12 col-md-4 my-5'>
                    <span class='p-float-label'>
                        <p-calendar id='to-time' name='to-time' [(ngModel)]='definition.to' [timeOnly]='true' hourFormat='24'></p-calendar>
                        <label for='to-time'>To</label>
                    </span>
                </div>
                <div class='field col-12 my-5'>
                    <label for='action'>Action</label><br>
                    <p-toggleButton id='action' [style]='{display: "inline"}' name='action' onLabel='Allow through' offLabel='Deny access' [(ngModel)]='definition.allow'></p-toggleButton>
                </div>
                <div class='field col-12 my-5'>
                    <span>
                        <label for='attached-teams'>Attach Teams</label>
                        <p-pickList [dragdrop]='true' [showSourceControls]='false' [showTargetControls]='false'
                                    [sourceStyle]="{'height':'30rem'}" [source]='lists.notAttachedTeams' [targetStyle]="{'height':'30rem'}"
                                    [target]='lists.attachedTeams' filterBy='name'
                                    (onMoveToTarget)='attachTeam($event.items)' (onMoveToSource)='detachTeam($event.items)'
                                    (onMoveAllToTarget)='attachTeam($event.items)' (onMoveAllToSource)='detachTeam($event.items)'
                                    id='attached-teams'
                                    sourceHeader='Teams' targetHeader='Attached Teams'>
                            <ng-template let-item pTemplate='item'>
                                <div style="font-size:14px;margin:15px 5px 0 0">{{item.name}}</div>
                            </ng-template>
                        </p-pickList>
                    </span>
                </div>
                <div class='field col-12 my-5'>
                    <span>
                        <label for='attached-lock-groups'>Attach Lock Groups</label>
                        <p-pickList [dragdrop]='true' [showSourceControls]='false' [showTargetControls]='false'
                                    [sourceStyle]="{'height':'30rem'}" [source]='lists.notAttachedLockGroups' [targetStyle]="{'height':'30rem'}"
                                    [target]='lists.attachedLockGroups' filterBy='name'
                                    (onMoveToTarget)='attachLockGroup($event.items)' (onMoveToSource)='detachLockGroup($event.items)'
                                    (onMoveAllToTarget)='attachLockGroup($event.items)' (onMoveAllToSource)='detachLockGroup($event.items)'
                                    id='attached-lock-groups'
                                    sourceHeader='Lock Groups' targetHeader='Attached Lock Groups'>
                            <ng-template let-item pTemplate='item'>
                                <div style="font-size:14px;margin:15px 5px 0 0">{{item.name}}</div>
                            </ng-template>
                        </p-pickList>
                    </span>
                </div>
                <!--suppress AngularUndefinedBinding -->
                <div class='field col-12 col-md-4 my-5' [load]="setCheckInterval([name])">
                    <p-button role='submit' label='Save' styleClass='p-button p-button-success' (click)='save(beforeSave.bind(this))' [disabled]='invalid'></p-button>
                </div>
            </div>
        </form>
    </div>
</app-layout>
